package {{packageName}};

import java.util.UUID;

public class {{entityName}}Response {

    private UUID id;
{{#fields}}
{{^id}}
    private {{javaType}} {{name}};
{{/id}}
{{/fields}}
    private Long version;

    public UUID getId() {
        return this.id;
    }

    public void setId(UUID id) {
        this.id = id;
    }

{{#fields}}
{{^id}}
    public {{javaType}} get{{capName}}() {
        return this.{{name}};
    }

    public void set{{capName}}({{javaType}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/id}}
{{/fields}}
    public Long getVersion() {
        return this.version;
    }

    public void setVersion(Long version) {
        this.version = version;
    }
}
