package {{packageName}};

import jakarta.persistence.*;
{{#hasJsonFields}}
import org.hibernate.annotations.JdbcTypeCode;
import org.hibernate.type.SqlTypes;
{{/hasJsonFields}}

@Entity
@Table(name = "{{tableName}}")
public class {{entityName}} {

{{#fields}}
{{#id}}
    @Id
    @Column(name = "{{columnName}}", nullable = false)
    private {{javaType}} {{name}};
{{/id}}
{{^id}}
{{#jsonField}}
    @JdbcTypeCode(SqlTypes.JSON)
{{/jsonField}}
{{#required}}
    @Column(name = "{{columnName}}", nullable = false)
{{/required}}
{{^required}}
    @Column(name = "{{columnName}}")
{{/required}}
    private {{javaType}} {{name}};
{{/id}}

{{/fields}}
    @Column(name = "version", nullable = false)
    private Long version = 0L;


{{#fields}}
    public {{javaType}} get{{capName}}() {
        return this.{{name}};
    }

    public void set{{capName}}({{javaType}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/fields}}
{{^idFieldIsNamedId}}
    public {{idJavaType}} getId() {
        return this.{{idFieldName}};
    }

    public void setId({{idJavaType}} id) {
        this.{{idFieldName}} = id;
    }

{{/idFieldIsNamedId}}
    public Long getVersion() {
        return this.version;
    }

    public void setVersion(Long version) {
        this.version = version;
    }
}
