package {{apiPackage}};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;

@Controller
public class UiRedirectController {

    @GetMapping({"/", ""})
    public String root() {
        return "redirect:{{canonicalUiRootRedirect}}";
    }

    @GetMapping({"/npdev-ui", "/npdev-ui/"})
    public String npdevUi() {
        return "redirect:/npdev-ui/index.html";
    }

}
