package {{packageName}};

import com.npdev.runtime.support.GeneratedCrudRuntimeSupport;
import com.npdev.kernel.concepts.ConceptGateway;
import com.npdev.kernel.ports.ConceptStore;
import org.springframework.stereotype.Service;

@Service
public class {{entityName}}Service extends {{entityName}}ServiceBase {

    public {{entityName}}Service(
            GeneratedCrudRuntimeSupport runtimeSupport,
            ConceptGateway conceptGateway,
            ConceptStore conceptStore
    ) {
        super(runtimeSupport, conceptGateway, conceptStore);
    }
}
