package {{packageName}};

import com.npdev.runtime.support.GeneratedCrudRuntimeSupport;
import com.npdev.kernel.KernelRunner;
import com.npdev.kernel.coda.CodaHook;
import com.npdev.kernel.concepts.ConceptGateway;
import com.npdev.kernel.ports.ConceptStore;
import org.springframework.stereotype.Service;

import java.util.Optional;

@Service
public class {{entityName}}Service extends {{entityName}}ServiceBase {

    public {{entityName}}Service(
            GeneratedCrudRuntimeSupport runtimeSupport,
            ConceptGateway conceptGateway,
            ConceptStore conceptStore,
            KernelRunner kernelRunner,
            Optional<CodaHook> codaHook,
            org.springframework.beans.factory.ObjectProvider<javax.sql.DataSource> dataSourceProvider,
            org.springframework.beans.factory.ObjectProvider<com.npdev.kernel.ports.FileStoreContract> fileStoreProvider
    ) {
        super(runtimeSupport, conceptGateway, conceptStore, kernelRunner, codaHook, dataSourceProvider, fileStoreProvider);
    }
}
